@font-face {
  font-family: "EudoxusSans";
  src: url("/src/fonts/EudoxusSans-Regular-BF659b6cb1d4714.woff2") format("woff2"), url("/src/fonts/EudoxusSans-Regular-BF659b6cb1d4714.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "EudoxusSans";
  src: url("/src/fonts/EudoxusSans-Medium-BF659b6cb1c14cb.woff2") format("woff2"), url("/src/fonts/EudoxusSans-Medium-BF659b6cb1c14cb.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "EudoxusSans";
  src: url("/src/fonts/EudoxusSans-Bold-BF659b6cb1408e5.woff2") format("woff2"), url("/src/fonts/EudoxusSans-Bold-BF659b6cb1408e5.ttf") format("ttf");
  font-weight: 700;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=datetime-local]::-webkit-calendar-picker-indicator {
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.button {
  padding-inline: 26px;
  -webkit-padding-before: 13px;
          padding-block-start: 13px;
  -webkit-padding-after: 14px;
          padding-block-end: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.button.button--green {
  background-color: #518581;
  border-color: #518581;
}
.button.button--icon {
  padding-inline: 30px;
  -webkit-padding-after: 13px;
          padding-block-end: 13px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.button.button--icon::after {
  content: "";
  width: 25px;
  height: 11px;
  background: url("../images/icons/icons/arrow-right-long.svg") center/100% auto no-repeat;
}
.button.button--border {
  border-color: #f3f3f3;
  color: #151411;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #8baeab;
    border-color: #8baeab;
  }
  .button:hover.button--border {
    background-color: #8baeab;
    border-color: #8baeab;
    color: #ffffff;
  }
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.section-header__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}
.section-header__subtitle {
  color: #ffb23f;
}
.section-header__title {
  font-size: 44px;
  color: #151411;
}
.section-header--main .section-header__title {
  font-size: 64px;
}
.section-header__subtitle, .section-header__title {
  font-weight: 700;
  line-height: 1.3;
}
.section-header.section-header--centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 991.98px) {
  .section-header__title {
    font-size: 32px;
  }
  .section-header--main .section-header__title {
    font-size: 38px;
  }
}
@media (max-width: 767.98px) {
  .section-header__title {
    font-size: 24px;
  }
  .section-header--main .section-header__title {
    font-size: 26px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #f3f3f3;
}
.header__container {
  padding-block: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media (max-width: 991.98px) {
  .header__container {
    padding-block: 20px;
  }
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 130px;
          flex: 0 1 130px;
  max-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  color: #151411;
}
.logo__icon {
  width: 32.307692%; /* 42/130 */
  aspect-ratio: 42/42;
}
.logo__text {
  width: 58.461538%; /* 76/130 */
  aspect-ratio: 76/19;
}
@media (max-width: 991.98px) {
  .logo {
    max-width: 99px;
    -webkit-column-gap: 9px;
       -moz-column-gap: 9px;
            column-gap: 9px;
  }
  .logo__icon {
    aspect-ratio: 32/32;
  }
  .logo__text {
    aspect-ratio: 57/14;
  }
}

.navigation__list {
  color: #151411;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px 60px;
}
.menu-burger .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  row-gap: 30px;
}
.navigation__link {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    color: #518581;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 24px;
}
.actions__item {
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.actions__item--cart {
  background-color: #151411;
  -webkit-mask: url("../images/icons/icons/bag.svg") center/100% no-repeat;
          mask: url("../images/icons/icons/bag.svg") center/100% no-repeat;
}
.actions__item--user {
  background-color: #151411;
  -webkit-mask: url("../images/icons/icons/user.svg") center/100% no-repeat;
          mask: url("../images/icons/icons/user.svg") center/100% no-repeat;
}
@media (any-hover: hover) {
  .actions__item:hover {
    background-color: #518581;
  }
}

.burger-btn {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 3px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
}
.burger-btn::after, .burger-btn::before {
  content: "";
}
.burger-btn::after, .burger-btn::before,
.burger-btn span {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #151411;
}
@media (max-width: 991.98px) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  -webkit-padding-before: calc(var(--scroll-margin-top) + 50px);
          padding-block-start: calc(var(--scroll-margin-top) + 50px);
  -webkit-padding-after: 30px;
          padding-block-end: 30px;
  padding-inline: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 40px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-color: #f3f3f3;
}
.menu-burger._active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero__container {
  -webkit-padding-before: 100px;
          padding-block-start: 100px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
}
@media (max-width: 991.98px) {
  .hero__container {
    padding-block: 50px;
  }
}
@media (max-width: 767.98px) {
  .hero__container {
    row-gap: 30px;
  }
}
.hero__header {
  max-width: 796px;
}
@media (min-width: 767.98px) {
  .hero__header .section-header__title-block:not(:last-child) {
    margin-bottom: 10px;
  }
}
.hero__header .section-header__title {
  max-width: 724px;
  position: relative;
}
.hero__header .section-header__title::before {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  top: 100%;
  right: 100%;
  -webkit-transform: translate(30px, -60px) rotate(-67.19deg);
      -ms-transform: translate(30px, -60px) rotate(-67.19deg);
          transform: translate(30px, -60px) rotate(-67.19deg);
  background: url("/src/images/icons/line-arrow-spiral-down.svg") center/100% no-repeat;
}
.hero__header .section-header__title .section-header__title-decorated-part {
  text-wrap: nowrap;
  position: relative;
}
.hero__header .section-header__title .section-header__title-decorated-part::after {
  content: "";
  width: 51px;
  height: 51px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("/src/images/icons/stars-plus-wink.svg") center/100% no-repeat;
}
@media (max-width: 991.98px) {
  .hero__header .section-header__title {
    max-width: 80vw; /* 300/375 */
  }
  .hero__header .section-header__title::before {
    top: 20%;
    width: 84px;
    height: 84px;
    -webkit-transform: translate(50%, 0) rotate(-67.19deg);
        -ms-transform: translate(50%, 0) rotate(-67.19deg);
            transform: translate(50%, 0) rotate(-67.19deg);
  }
  .hero__header .section-header__title .section-header__title-decorated-part::after {
    width: 24px;
    height: 24px;
  }
}
.hero__header .section-header__text {
  position: relative;
}
.hero__search-form {
  width: 65.32%; /* 810/1240 */
  position: relative;
}
@media (max-width: 991.98px) {
  .hero__search-form {
    width: 85%;
  }
}
@media (max-width: 767.98px) {
  .hero__search-form {
    width: 100%;
  }
}
.hero__image-wrapper {
  width: 100%;
  aspect-ratio: 1240/480;
  min-height: 160px;
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .hero__image-wrapper {
    margin-top: -92px;
  }
}
.hero__image {
  min-width: 100%;
  height: 100%;
  aspect-ratio: 1240/480;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-shadow: 0px 4px 80px 0px rgba(175, 173, 181, 0.2);
          box-shadow: 0px 4px 80px 0px rgba(175, 173, 181, 0.2);
  padding-block: 15px;
  -webkit-padding-start: 26px;
          padding-inline-start: 26px;
  -webkit-padding-end: 15px;
          padding-inline-end: 15px;
  background-color: #ffffff;
}
.search-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.search-form__label-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #afadb5;
  -webkit-mask: url("/src/images/icons/icons/search.svg") center/100% no-repeat;
          mask: url("/src/images/icons/icons/search.svg") center/100% no-repeat;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
@media (max-width: 767.98px) {
  .search-form__label-icon {
    width: 24px;
    height: 24px;
  }
}
@media (any-hover: hover) {
  .search-form__label-icon:hover {
    background-color: #518581;
  }
}
.search-form__input {
  height: 54px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-inline: 10px;
}
.search-form__input::-webkit-search-cancel-button {
  display: none;
}
@media (max-width: 767.98px) {
  .search-form__input {
    padding-inline: 4px;
    height: 38px;
  }
}
@media (max-width: 767.98px) {
  .search-form__btn.button {
    padding-block: 8px;
    padding-inline: 24px;
  }
}
@media (min-width: 991.98px) {
  .search-form__btn {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}
@media (max-width: 991.98px) {
  .search-form {
    padding-block: 8px;
    -webkit-padding-start: 14px;
            padding-inline-start: 14px;
    -webkit-padding-end: 8px;
            padding-inline-end: 8px;
  }
}
@media (max-width: 374.98px) {
  .search-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-form__btn {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .search-form__label-icon {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  --scroll-margin-top: 0;
}

body {
  font-family: "EudoxusSans", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
  color: #afadb5;
}
@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-padding-before: var(--scroll-margin-top);
          padding-block-start: var(--scroll-margin-top);
}

[class$=__container] {
  max-width: 1288px;
  padding-inline: 24px;
  margin: 0 auto;
}