@use "variables" as *;
.button {
    padding-inline: 26px;
    padding-block-start: 13px;
    padding-block-end: 14px;
    font-weight: 700;
    line-height: 1.3;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    transition: all 0.4s;
    &.button--green {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    &.button--icon {
        padding-inline: 30px;
        padding-block-end: 13px;
        column-gap: 18px;
        &::after {
            content: "";
            width: 25px;
            height: 11px;
            background: url("../images/icons/icons/arrow-right-long.svg") center/100% auto no-repeat;
        }
    }
    &.button--icon-reverse {
        flex-direction: row-reverse;
    }
    &.button--border {
        border-color: $lineColor;
        color: $titleColor;
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: $primaryColorHover;
            border-color: $primaryColorHover;
            &.button--border {
                background-color: $primaryColorHover;
                border-color: $primaryColorHover;
                color: #ffffff;
            }
        }
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    //section-header__title-block
    &__title-block {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }
    // .section-header__subtitle

    &__subtitle {
        color: $secondaryColor;
    }

    // .section-header__title

    &__title {
        font-size: 44px;
        color: $titleColor;
        .section-header--main & {
            font-size: 64px;
        }
    }

    &__subtitle,
    &__title {
        font-weight: 700;
        line-height: 1.3;
    }

    &.section-header--centered {
        align-items: center;
        text-align: center;
    }

    @media (max-width: $tablet) {
        &__title {
            font-size: 36px;
            .section-header--main & {
                font-size: 38px;
            }
        }
    }

    @media (max-width: $mobile) {
        &__title {
            font-size: 24px;
            .section-header--main & {
                font-size: 26px;
            }
        }
    }
    @media (max-width: $smallMobile) {
        :not(.section-header--main) > &__text {
            text-align: justify;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    @media (max-width: $mobile) {
        row-gap: 12px;
    }
    // .product__image-link

    &__image-link {
        width: 100%;
        // height: 360px;
        aspect-ratio: 394 /360;
        min-height: 194px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        @media (any-hover: hover) {
            &:hover .product__image {
                transform: scale(1.02);
            }
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
        @media (max-width: $mobile) {
            aspect-ratio: 156 /130;
            min-height: 130px;
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
        @media (max-width: $smallMobile) {
            // min-height: 130px;
        }
    }

    // .product__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 394 / 360;
        transition: transform 0.4s ease-out;
        @media (max-width: $mobile) {
            aspect-ratio: 220 / 194;
        }
    }
    //product__info
    &__info {
        flex-grow: 1;
    }
    &__title,
    &__category {
        font-weight: 700;
        line-height: 1.3;
    }
    &__title {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }
    // .product__category

    &__category {
        &:not(:last-child) {
            margin-bottom: 14px;
        }
        @media (max-width: $tablet) {
            font-size: 16px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        @media (max-width: $mobile) {
            font-size: 12px;
            line-height: 1.8;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    // .product__title

    &__title {
        font-size: 26px;
        letter-spacing: 0.26px;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        @media (max-width: $tablet) {
            font-size: 20px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
            letter-spacing: 0.16px;
            line-height: 1.45;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    // .product__discription

    &__discription {
        @media (max-width: $tablet) {
            font-size: 16px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    // .product__price

    &__price {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        margin-top: auto;
        @media (max-width: $tablet) {
            font-size: 20px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 1.45;
        }
    }
}
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 80px 0px rgba(175, 173, 181, 0.2);
    padding-block: 15px;
    padding-inline-start: 26px;
    padding-inline-end: 15px;
    background-color: #ffffff;
    //search-form__label
    &__label {
        display: flex;
        align-items: center;
        flex-grow: 1;
        column-gap: 8px;
    }
    &__label-icon {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: $paragraphColor;
        mask: url("/src/images/icons/icons/search.svg") center/100% no-repeat;
        transition: background-color 0.3s ease-out;
        @media (max-width: $mobile) {
            width: 24px;
            height: 24px;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }

    // .search-form__input

    &__input {
        height: 54px;
        flex-grow: 1;
        padding-inline: 10px;
        &::-webkit-search-cancel-button {
            display: none;
        }
        @media (max-width: $mobile) {
            padding-inline: 4px;
            height: 38px;
        }
    }

    // .search-form__btn

    &__btn {
        @media (max-width: $mobile) {
            &.button {
                padding-block: 8px;
                padding-inline: 24px;
            }
        }
        @media (min-width: $tablet) {
            flex-basis: 170px;
        }
    }
    @media (max-width: $tablet) {
        padding-block: 8px;
        padding-inline-start: 14px;
        padding-inline-end: 8px;
    }
    @media (max-width: 374.98px) {
        flex-wrap: wrap;
        &__btn {
            flex-grow: 1;
        }
        &__label-icon {
            display: none;
        }
    }
}

.statistic {
    display: flex;
    // flex-wrap: wrap;
    gap: 50px;
    &--end {
        align-self: flex-end;
        justify-content: flex-end;
    }
    // .statistic__data

    &__data {
        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    // .statistic__data-number

    &__data-number {
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        font-size: clamp(22px, 3.05vw, 44px);
    }

    // .our-product__data-name

    &__data-name {
        @media (max-width: $tablet) {
            font-size: 14px;
        }
        @media (max-width: $mobile) {
            font-size: 13px;
        }
    }
    @media (max-width: 1100px) {
        gap: 20px;
    }
    @media (max-width: $tablet) {
        justify-content: space-around;
    }
}

.newscard {
    position: relative;
    padding-inline: 26px;
    padding-block: 26px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 14px;
    color: #ffffff;

    // .newscard__image-wrapper

    &__image-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    // .newscard__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 582 / 565;
        object-fit: cover;
        object-position: center;
    }

    // .newscard__info

    &__info {
        & > * {
            margin-bottom: 6px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    // .newscard__category

    &__category {
        margin-bottom: 10px;
        @media (max-width: $mobile) {
            font-size: 12px;
            font-weight: 700;
        }
    }

    // .newscard__title

    &__title {
        font-size: 26px;
        line-height: 1.3;
        letter-spacing: 0.26px;
        font-weight: 700;
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }

    // .newscard__title-link

    // .newscard__text

    &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // .newscard__link

    &__link {
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }

    &__title-link,
    &__category-link,
    &__link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }
}
.article-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px 26px;
    &.article-card--vertical {
        flex-direction: column;
    }

    @media (max-width: $mobile) {
        gap: 16px 10px;
    }
    // .article-card__image-link

    &__image-link {
        flex: 0 1 260px;
        height: 100%;
        overflow: hidden;
        background: linear-gradient(180deg, rgba(21, 20, 17, 0) 44.93%, #151411 128.93%);
        .article-card--vertical & {
            flex-basis: auto;
            width: 100%;
            min-height: 340px;
        }

        @media (max-width: $mobile) {
            flex-basis: 150px;
            min-width: 110px;
            .article-card--vertical & {
                min-height: 180px;
            }
        }
        @media (max-width: $smallMobile) {
            flex-basis: 110px;
            // aspect-ratio: 1 / 1;
        }

        @media (any-hover: hover) {
            &:hover .article-card__image {
                scale: 1.02;
            }
        }
    }

    // .article-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 260 / 260;
        transition: scale 0.4s ease-out;
        .article-card--vertical & {
            aspect-ratio: 605 / 340;
        }
    }

    // .article-card__body

    &__body {
        flex: 1 1 318px;
    }
}
.article-body {
    min-width: 0;
    padding-inline-end: 5px;
    .article-card--vertical & {
        flex-basis: auto;
    }

    & > * {
        margin-bottom: 14px;
    }
    & > :last-child {
        margin-bottom: 0;
    }
    // .article-body__category

    &__category {
        margin-bottom: 21px;
        .article-card--vertical & {
            margin-bottom: 10px;
        }

        @media (max-width: $mobile) {
            font-size: 12px;
            .article-card--vertical & {
                margin-bottom: 6px;
            }
        }
    }

    // .article-body__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        @media (max-width: $mobile) {
            font-size: 16px;
            .article-card--vertical & {
                margin-bottom: 4px;
            }
        }
    }

    // .article-body__title-link

    &__title-link {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width: $tablet) {
            .article-card--vertical:not(.article-card--banner) & {
                -webkit-line-clamp: 1;
                line-clamp: 1;
            }
        }
    }
    &__title-link,
    &__category-link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }

    // .article-body__text

    &__text {
        // max-width: 992px;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 16px;
        .article-card--vertical & {
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
        @media (max-width: $mobile) {
            .article-card & {
                display: none;
            }
            .article-card--vertical & {
                margin-bottom: 13px;
            }
        }
    }

    // .article-body__author-info

    &__author-info {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;

        gap: 10px;
        &.article-body__author-info--end-splitter {
            // flex-grow: 0;
            &:after {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $lineColor;
                order: 2;
            }
        }
        @media (max-width: $mobile) {
            gap: 6px;
            &.article-body__author-info--end-splitter {
                // margin-left: 2px;
                &:after {
                    width: 3px;
                    height: 3px;
                }
            }
        }
    }

    // .article-body__avatar

    &__avatar {
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        aspect-ratio: 28 / 28;
        object-fit: cover;
        border-radius: 50%;
        @media (max-width: $mobile) {
            width: 18px;
            height: 18px;
        }
    }

    // .article-body__author-name

    &__author-name {
        order: 1;
        font-size: 14px;
        font-weight: 700;
        color: $titleColor;
        display: flex;
        align-items: center;
        column-gap: 10px;
        min-width: 70px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        .article-body__author-info:not(.article-body__author-info--end-splitter) & {
            flex-grow: 1;
        }

        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }

    // .article-body__date

    &__date {
        flex-shrink: 0;
        order: 3;
        font-size: 14px;
        @media (max-width: $mobile) {
            font-size: 12px;
        }

        @media (max-width: $smallMobile) {
            .article-card:not(.article-card--vertical) & {
                visibility: hidden;
                font-size: 0;
            }
        }
    }
}
.article-banner-card {
    aspect-ratio: 1240 /674;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    // .article-banner-card__image-link

    &__image-link {
        min-width: 100%;
        aspect-ratio: 1240 / 550;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(21, 20, 17, 0) 44.93%, #151411 128.93%);
    }

    // .article-banner-card__image

    &__image {
        width: 100%;
        min-height: 100%;
        aspect-ratio: 1240 / 550;
        object-fit: cover;
    }

    // .article-banner-card__body

    &__body {
        width: 87.096774%; /* 1080/1240 */
        padding-block: 47px;
        padding-inline: 40px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0px 4px 40px 0px rgba(175, 173, 181, 0.2);

        & > * {
            margin-bottom: 10px;
        }
        & > :last-child {
            margin-bottom: 0;
        }
        & .article-body__title {
            max-width: 803px;
            margin-bottom: 16px;
        }
        & .article-body__author-name {
            flex-grow: 0;
        }
        @media (max-width: $mobile) {
            padding-block: 12px;
            padding-inline: 12px;
            width: 77.6vw;
            & .article-body__category {
                margin-bottom: 4px;
                font-size: 10px;
            }
            & .article-body__title {
                margin-bottom: 11px;
                font-size: 14px;
            }

            & .article-body__author-name {
                flex-shrink: 1;
            }
        }
    }
}
.banner-card {
    // .banner-card__link
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 132px;
    padding-block: 34px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #151411 -21.38%, rgba(21, 20, 17, 0) 66.65%);
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // .banner-card__image

    &__image {
        min-width: 100%;
        height: 100%;
        aspect-ratio: 1440 / 500;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: -1;
    }

    // .banner-card__info

    &__info {
        margin-top: -7px;
        position: relative;
        max-width: 453px;
        z-index: 1;
        color: #ffffff;
        & > * {
            margin-bottom: 15px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    // .banner-card__lable

    &__lable {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: 16px;
        background-color: $primaryColor;
        font-size: 14px;
        width: max-content;
        @media (max-width: $mobile) {
            padding-inline: 10px;
            padding-block: 6px;
            font-size: 10px;
            line-height: 1.3;
        }
    }

    // .banner-card__titlr

    &__title {
        margin-bottom: 5px;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0.16px;
        }
    }

    // .banner-card__details

    &__details {
        font-size: 24px;
        line-height: 1.3;
        @media (max-width: $mobile) {
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            line-height: 1.8;
        }
    }
    @media (max-width: $tablet) {
        padding-inline: 24px;
    }
}
// product--collection
.product-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;

    @media (max-width: $tablet) {
        row-gap: 30px;
    }
    @media (max-width: $mobile) {
        & .product {
            & .product__category,
            & .product__discription {
                font-size: 12px;
            }
            & .product__title,
            & .product__price {
                font-size: 14px;
            }
        }
    }

    // .product-collection__body

    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 30px 29px;
        & .product__title-link,
        & .product__discription {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        @media (max-width: $tablet) {
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            gap: 17px 15px;
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    column-gap: 12px;

    // .pagination__button-prev
    &__button-prev,
    &__button-next {
        width: 38px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            background-color: $titleColor;
            mask: url("/src/images/icons/icons/arrow-right.svg") center / 100% no-repeat;
            transition: background-color 0.3s ease-out;
        }
        &._disabled {
            &::before {
                background-color: $paragraphColor;
            }
        }
        @media (max-width: $mobile) {
            width: 28px;
            height: 32px;
        }
        @media (any-hover: hover) {
            &:not(._disabled):hover {
                &::before {
                    background-color: $primaryColor;
                }
            }
        }
    }

    // .pagination__button-next

    &__button-next {
        &::before {
            rotate: 180deg;
        }
    }

    // .pagination__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    // .pagination__button

    &__button {
        width: 38px;
        height: 42px;
        padding-inline: 10px;
        padding-block: 10px;
        font-size: 18px;
        // line-height: 1.3;
        color: $titleColor;
        font-weight: 500;
        border: 1.5px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            border-color 0.3s ease-out,
            color 0.3s ease-out;
        &:not(._dots) {
            border-color: $lineColor;
        }
        &._active {
            background-color: $primaryColor;
            color: #ffffff;
            border-color: $primaryColor;
        }

        @media (any-hover: hover) {
            &:not(._disabled):not(._active):hover {
                border-color: $primaryColor;
                color: $primaryColor;
            }
        }
        @media (max-width: $mobile) {
            width: 32px;
            height: 32px;
            padding-inline: 8px;
            padding-block: 7px;
            font-size: 14px;
            // line-height: 1.3;
        }
    }
}
.services {
    counter-reset: service;
    width: 100%;
    display: grid;
    // flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 29px;
    @media (max-width: $mobile) {
        row-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    // .services__item

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        counter-increment: service;

        &::before {
            content: counter(service, decimal-leading-zero);
            font-size: 64px;
            font-weight: 700;
            line-height: 1.3;
            color: $primaryColor;
            @media (max-width: $tablet) {
                font-size: 42px;
            }
            @media (max-width: $mobile) {
                font-size: 32px;
            }
        }
        @media (min-width: $tablet) {
            padding-inline-end: 32px;
            row-gap: 26px;
        }
    }

    // .services__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    // .services__description

    &__description {
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }
}
.advantages {
    & > *:not(:last-child) {
        margin-bottom: 30px;
    }
    @media (max-width: $mobile) {
        & > *:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    // .advantages__item

    &__item {
        display: flex;
        align-items: flex-start;
        column-gap: 25px;
        @media (max-width: $mobile) {
            column-gap: 20px;
        }
    }

    // .advantages__icon-wrapper

    &__icon-wrapper {
        flex-shrink: 0;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            width: 44px;
            height: 44px;
        }
    }

    // .advantages__item-icon

    &__item-icon {
        width: 48.39%; /* 30/62 */
        height: 48.39%; /* 30/62 */
        @media (max-width: $mobile) {
            width: 54.55%; /* 24/44 */
            height: 54.55%; /* 24/44 */
        }
    }

    // .advantages__item-title

    &__item-title {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.26px;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }
}
.employee-card {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    @media (max-width: $mobile) {
        row-gap: 14px;
    }

    // .employee-card__image-link

    &__image-link {
        width: 100%;
        aspect-ratio: 394 / 360;
        overflow: hidden;
        @media (any-hover: hover) {
            &:hover .employee-card__image {
                transform: scale(1.02);
            }
        }
    }

    // .employee-card__image

    &__image {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
    }

    // .employee-card__name

    &__name {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.26px;
        color: $titleColor;
        transition: color 0.3s ease-out;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }

    // .employee-card__position

    &__position {
        @media (max-width: $mobile) {
            row-gap: 12px;
        }
    }
}
