@use "variables" as *;
.button {
    padding-inline: 26px;
    padding-block-start: 13px;
    padding-block-end: 14px;
    font-weight: 700;
    line-height: 1.3;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    transition: all 0.4s;
    &.button--green {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    &.button--icon {
        padding-inline: 30px;
        padding-block-end: 13px;
        column-gap: 18px;
        &::after {
            content: "";
            width: 25px;
            height: 11px;
            background: url("../images/icons/icons/arrow-right-long.svg") center/100% auto no-repeat;
        }
    }
    &.button--border {
        border-color: $lineColor;
        color: $titleColor;
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: $primaryColorHover;
            border-color: $primaryColorHover;
            &.button--border {
                background-color: $primaryColorHover;
                border-color: $primaryColorHover;
                color: #ffffff;
            }
        }
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    //section-header__title-block
    &__title-block {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }
    // .section-header__subtitle

    &__subtitle {
        color: $secondaryColor;
    }

    // .section-header__title

    &__title {
        font-size: 44px;
        color: $titleColor;
        .section-header--main & {
            font-size: 64px;
        }
    }

    &__subtitle,
    &__title {
        font-weight: 700;
        line-height: 1.3;
    }

    &.section-header--centered {
        align-items: center;
        text-align: center;
    }
    //section-header__text
    &__text {
    }
    @media (max-width: $tablet) {
        &__title {
            font-size: 36px;
            .section-header--main & {
                font-size: 38px;
            }
        }
    }

    @media (max-width: $mobile) {
        &__title {
            font-size: 24px;
            .section-header--main & {
                font-size: 26px;
            }
        }
    }
    @media (max-width: $smallMobile) {
        :not(.section-header--main) > &__text {
            text-align: justify;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    @media (max-width: $mobile) {
        row-gap: 12px;
    }
    // .product__image-link

    &__image-link {
        width: 100%;
        // height: 360px;
        aspect-ratio: 394 /360;
        min-height: 194px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        @media (any-hover: hover) {
            &:hover .product__image {
                transform: scale(1.03);
            }
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
        @media (max-width: $mobile) {
            aspect-ratio: 156 /130;
            min-height: 130px;
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
        @media (max-width: $smallMobile) {
            // min-height: 130px;
        }
    }

    // .product__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 394 / 360;
        transition: transform 0.4s ease-out;
        @media (max-width: $mobile) {
            aspect-ratio: 220 / 194;
        }
    }
    //product__info
    &__info {
        flex-grow: 1;
    }
    &__title,
    &__category {
        font-weight: 700;
        line-height: 1.3;
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }
    // .product__category

    &__category {
        &:not(:last-child) {
            margin-bottom: 14px;
        }
        @media (max-width: $tablet) {
            font-size: 16px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        @media (max-width: $mobile) {
            font-size: 12px;
            line-height: 1.8;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    // .product__category-link

    &__category-link {
    }

    // .product__title

    &__title {
        font-size: 26px;
        letter-spacing: 0.26px;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        @media (max-width: $tablet) {
            font-size: 20px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
            letter-spacing: 0.16px;
            line-height: 1.45;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    // .product__title-link

    &__title-link {
    }

    // .product__discription

    &__discription {
        @media (max-width: $tablet) {
            font-size: 16px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    // .product__price

    &__price {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        margin-top: auto;
        @media (max-width: $tablet) {
            font-size: 20px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 1.45;
        }
    }
}
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 80px 0px rgba(175, 173, 181, 0.2);
    padding-block: 15px;
    padding-inline-start: 26px;
    padding-inline-end: 15px;
    background-color: #ffffff;
    //search-form__label
    &__label {
        display: flex;
        align-items: center;
        flex-grow: 1;
        column-gap: 8px;
    }
    &__label-icon {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: $paragraphColor;
        mask: url("/src/images/icons/icons/search.svg") center/100% no-repeat;
        transition: background-color 0.3s ease-out;
        @media (max-width: $mobile) {
            width: 24px;
            height: 24px;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }

    // .search-form__input

    &__input {
        height: 54px;
        flex-grow: 1;
        padding-inline: 10px;
        &::-webkit-search-cancel-button {
            display: none;
        }
        @media (max-width: $mobile) {
            padding-inline: 4px;
            height: 38px;
        }
    }

    // .search-form__btn

    &__btn {
        @media (max-width: $mobile) {
            &.button {
                padding-block: 8px;
                padding-inline: 24px;
            }
        }
        @media (min-width: $tablet) {
            flex-basis: 170px;
        }
    }
    @media (max-width: $tablet) {
        padding-block: 8px;
        padding-inline-start: 14px;
        padding-inline-end: 8px;
    }
    @media (max-width: 374.98px) {
        flex-wrap: wrap;
        &__btn {
            flex-grow: 1;
        }
        &__label-icon {
            display: none;
        }
    }
}
.newscard {
    position: relative;
    padding-inline: 26px;
    padding-block: 26px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 14px;
    color: #ffffff;

    // .newscard__image-wrapper

    &__image-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    // .newscard__image

    &__image {
        min-width: 100%;
        height: 100%;
        aspect-ratio: 582 / 565;
        object-fit: cover;
        object-position: center;
    }

    // .newscard__info

    &__info {
        & > * {
            margin-bottom: 6px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    // .newscard__category

    &__category {
        margin-bottom: 10px;
        @media (max-width: $mobile) {
            font-size: 12px;
            font-weight: 700;
        }
    }

    // .newscard__category-link

    &__category-link {
    }

    // .newscard__title

    &__title {
        font-size: 26px;
        line-height: 1.3;
        letter-spacing: 0.26px;
        font-weight: 700;
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }

    // .newscard__title-link

    // .newscard__text

    &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // .newscard__link

    &__link {
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }

    &__title-link,
    &__category-link,
    &__link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }
}
.article-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 26px;
    @media (max-width: $mobile) {
        gap: 10px;
    }
    // .article-card__image-link

    &__image-link {
        flex: 0 1 260px;
        height: 100%;
        overflow: hidden;

        @media (max-width: $mobile) {
            flex-basis: 150px;
            min-width: 110px;
        }
        @media (max-width: $smallMobile) {
            flex-basis: 110px;
            // aspect-ratio: 1 / 1;
        }

        @media (any-hover: hover) {
            &:hover .article-card__image {
                scale: 1.03;
            }
        }
    }

    // .article-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 260 / 260;
        transition: scale 0.4s ease-out;
    }

    // .article-card__body

    &__body {
        flex: 1 1 318px;
        // padding-block-start: 28px;
        // padding-block-end: 27px;
        padding-inline-end: 5px;

        & > * {
            margin-bottom: 14px;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }

    // .article-card__category

    &__category {
        margin-bottom: 21px;
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }

    // .article-card__category-link

    &__category-link {
    }

    // .article-card__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;

        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }

    // .article-card__title-link

    &__title-link {
        max-width: 992px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__title-link,
    &__category-link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }

    // .article-card__text

    &__text {
        max-width: 992px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 16px;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    // .article-card__author-info

    &__author-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        @media (max-width: $mobile) {
            gap: 6px;
        }
    }

    // .article-card__avatar

    &__avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        @media (max-width: $mobile) {
            width: 18px;
            height: 18px;
        }
    }

    // .article-card__author-name

    &__author-name {
        font-size: 14px;
        font-weight: 700;
        color: $titleColor;
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }

    // .article-card__date

    &__date {
        font-size: 14px;
        margin-left: auto;
        @media (max-width: $mobile) {
            font-size: 12px;
        }

        @media (max-width: $smallMobile) {
            visibility: hidden;
            font-size: 0;
        }
    }
}
.banner-card {
    // .banner-card__link
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 132px;
    padding-block: 34px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #151411 -21.38%, rgba(21, 20, 17, 0) 66.65%);
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // .banner-card__image

    &__image {
        min-width: 100%;
        height: 100%;
        aspect-ratio: 1440 / 500;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: -1;
    }

    // .banner-card__info

    &__info {
        margin-top: -7px;
        position: relative;
        max-width: 453px;
        z-index: 1;
        color: #ffffff;
        & > * {
            margin-bottom: 15px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    // .banner-card__lable

    &__lable {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: 16px;
        background-color: $primaryColor;
        font-size: 14px;
        width: max-content;
        @media (max-width: $mobile) {
            padding-inline: 10px;
            padding-block: 6px;
            font-size: 10px;
            line-height: 1.3;
        }
    }

    // .banner-card__titlr

    &__title {
        margin-bottom: 5px;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0.16px;
        }
    }

    // .banner-card__details

    &__details {
        font-size: 24px;
        line-height: 1.3;
        @media (max-width: $mobile) {
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            line-height: 1.8;
        }
    }
    @media (max-width: $tablet) {
        padding-inline: 24px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    column-gap: 12px;

    // .pagination__button-prev
    &__button-prev,
    &__button-next {
        width: 38px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            background-color: $titleColor;
            mask: url("/src/images/icons/icons/arrow-right.svg") center / 100% no-repeat;
            transition: background-color 0.3s ease-out;
        }
        &:disabled {
            &::before {
                background-color: $paragraphColor;
            }
        }
        @media (max-width: $mobile) {
            width: 28px;
            height: 32px;
        }
        @media (any-hover: hover) {
            &:not(:disabled):hover {
                &::before {
                    background-color: $primaryColor;
                }
            }
        }
    }
    &__button-prev {
    }
    // .pagination__button-next

    &__button-next {
        &::before {
            rotate: 180deg;
        }
    }

    // .pagination__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    // .pagination__list-item

    &__list-item {
    }
    // .pagination__button

    &__button {
        width: 38px;
        height: 42px;
        padding-inline: 10px;
        padding-block: 10px;
        font-size: 18px;
        // line-height: 1.3;
        color: $titleColor;
        font-weight: 500;
        border: 1.5px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            border-color 0.3s ease-out,
            color 0.3s ease-out;
        &:not(._dots) {
            border-color: $lineColor;
        }
        &._active {
            background-color: $primaryColor;
            color: #ffffff;
            border-color: $primaryColor;
        }

        @media (any-hover: hover) {
            &:not(:disabled):not(._active):hover {
                border-color: $primaryColor;
                color: $primaryColor;
            }
        }
        @media (max-width: $mobile) {
            width: 32px;
            height: 32px;
            padding-inline: 8px;
            padding-block: 7px;
            font-size: 14px;
            // line-height: 1.3;
        }
    }
}
