@use "variables" as *;
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-bottom: 2px solid $lineColor;
    }

    // .header__container

    &__container {
        padding-block: 39px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 25px;

        @media (max-width: 991.98px) {
            padding-block: 20px;
        }
    }
}
.logo {
    flex: 0 1 130px;
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    color: $titleColor;

    // .logo__icon

    &__icon {
        width: 32.307692%; /* 42/130 */
        aspect-ratio: 42 / 42;
    }

    // .logo__text

    &__text {
        width: 58.461538%; /* 76/130 */
        aspect-ratio: 76 / 19;
    }
    @media (max-width: 991.98px) {
        max-width: 99px;
        column-gap: 9px;
        &__icon {
            aspect-ratio: 32 / 32;
        }
        &__text {
            aspect-ratio: 57 / 14;
        }
    }
}

.navigation {
    // .navigation__list

    &__list {
        color: $titleColor;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px 60px;
        .menu-burger & {
            flex-direction: column;
            font-size: 24px;
            row-gap: 30px;
        }
    }

    // .navigation__item

    &__item {
    }

    // .navigation__link

    &__link {
        transition: color 0.4s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $primaryColor;
            }
        }
    }
}
.actions {
    display: flex;
    align-items: center;
    gap: 15px 24px;

    // .actions__item

    &__item {
        width: 30px;
        height: 30px;
        transition: background-color 0.4s ease-out;
        &--cart {
            background-color: $titleColor;
            mask: url("../images/icons/icons/bag.svg") center/100% no-repeat;
        }
        &--user {
            background-color: $titleColor;
            mask: url("../images/icons/icons/user.svg") center/100% no-repeat;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}
.burger-btn {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 3px;
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;

    &::after,
    &::before {
        content: "";
    }
    &::after,
    &::before,
    span {
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: $titleColor;
    }
    @media (max-width: 991.98px) {
        display: flex;
    }
}
.menu-burger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    transform: translateY(-100%);
    width: 100%;
    // min-height: 100svh;
    padding-block-start: calc(var(--scroll-margin-top) + 50px);
    padding-block-end: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 40px;
    transition: transform 0.5s ease-out;
    background-color: #ffffff;

    &._active {
        transform: translateY(0);
    }
}
