@use "variables" as *;
@use "mixins";
.hero {
    // .hero__container

    &__container {
        padding-block-start: 100px;
        padding-block-end: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        @media (max-width: $tablet) {
            padding-block: 50px;
        }

        @media (max-width: $mobile) {
            row-gap: 30px;
        }
    }

    // .hero__header

    &__header {
        max-width: 796px;
        & .section-header__title-block {
            @media (min-width: $mobile) {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        & .section-header__title {
            max-width: 724px;
            position: relative;
            &::before {
                content: "";
                width: 250px;
                height: 250px;
                position: absolute;
                top: 100%;
                right: 100%;
                transform: translate(30px, -60px) rotate(-67.19deg);
                background: url("/src/images/icons/line-arrow-spiral-down.svg") center / 100% no-repeat;
            }

            & .section-header__title-decorated-part {
                text-wrap: nowrap;
                position: relative;
                &::after {
                    content: "";
                    width: 51px;
                    height: 51px;
                    transform: translateY(-50%);
                    background: url("/src/images/icons/stars-plus-wink.svg") center / 100% no-repeat;
                }
            }
            @media (max-width: $tablet) {
                max-width: 80vw; /* 300/375 */
                &::before {
                    top: 20%;
                    width: 84px;
                    height: 84px;
                    transform: translate(50%, 0) rotate(-67.19deg);
                }
                & .section-header__title-decorated-part::after {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        & .section-header__text {
            position: relative;
            text-align: center;
        }
    }
    //hero__search-form
    &__search-form.search-form {
        width: 65.32%; /* 810/1240 */
        position: relative;
        @media (max-width: $tablet) {
            width: 85%;
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    // .hero__image-wrapper

    &__image-wrapper {
        width: 100%;
        aspect-ratio: 1240 / 480;
        min-height: 160px;
        overflow: hidden;
        @media (min-width: $mobile) {
            margin-top: -92px;
        }
    }

    // .hero__image

    &__image {
        min-width: 100%;
        height: 100%;
        aspect-ratio: 1240 / 480;
    }
}

//benefits section

.benefits {
    // .benefits__container

    &__container {
        padding-block: 90px;
        @media (max-width: $mobile) {
            padding-block: 50px;
        }
    }

    // .benefits__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &.section-header {
            flex-direction: row;
            justify-content: space-between;
            gap: 16px 35px;
            // .section-header__title-block

            & .section-header__title-block {
                max-width: 427px;
                // flex-shrink: 1;
                min-width: 50%;
            }
            // .section-header__text

            & .section-header__text {
                align-self: flex-end;

                max-width: 505px;
                flex-shrink: 1;
                @media (min-width: $tablet) {
                    padding-bottom: 9px;
                }
            }
            @media (max-width: $mobile) {
                flex-wrap: wrap;
            }
        }

        // .section-header__subtitle

        &__subtitle {
        }

        // .section-header__title

        &__title {
        }

        // .section-header__text

        &__text {
        }
    }

    // .benefits__list

    &__list {
        display: flex;
        gap: 20px 29px;
        @media (max-width: $tablet) {
            column-gap: 20px;
            flex-wrap: wrap;
        }
    }

    // .benefits__item

    &__item {
        flex: 1 1 394px;
    }
}

.benefit {
    padding-inline: 24px;
    padding-block: 26px;
    // display: flex;
    // flex-direction: column;
    // row-gap: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.1);
    //      benefit__image
    &__image {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: #f9f9f9;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        @media (max-width: $mobile) {
            width: 44px;
            height: 44px;
        }
    }

    // .benefit__icon

    &__icon {
        width: 46.875%; /* 30/64 */
        height: 46.875%;
    }

    // .benefit__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    // .benefit__text

    &__text {
    }
    @media (max-width: $mobile) {
        padding-inline: 16px;
        padding-block-start: 16px;
        padding-block-end: 18px;
    }
}

//popular
.popular {
    padding-block: 90px;
    @media (max-width: $mobile) {
        padding-block: 50px;
    }
    // .popular__container

    &__container {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    // .popular__header

    &__header {
        max-width: 656px;
        margin: 0 auto;
    }
    //popular__slider-wrapper
    &__slider-wrapper {
        position: relative;
    }
    // .popular__slider

    &__slider.swiper {
        height: auto;
        & .swiper-wrapper {
        }
        & .swiper-slide {
            width: 394px;
            display: flex;
            flex-direction: column;
            height: auto;
            @media (max-width: $mobile) {
                width: 220px;
            }
        }
    }

    // .popular__swiper-button-prev
    &__swiper-button-prev,
    &__swiper-button-next {
        @extend %round-swiper-button;
    }
    &__swiper-button-prev {
        left: 50px;
    }

    // .popular__swiper-button-next

    &__swiper-button-next {
        right: 50px;
    }
}

// our product

.our-product {
    // .our-product__container

    &__container {
        padding-block: 90px;
        @media (max-width: $mobile) {
            padding-block: 50px;
        }
    }

    // .our-product__body

    &__body {
        max-width: 100%;
        display: grid;
        gap: 20px 50px;
        grid-template-columns: repeat(2, minmax(150px, auto));
        grid-template-rows: repeat(3, minmax(150px, auto));
        grid-auto-flow: row;
        @media (max-width: $tablet) {
            column-gap: 20px;
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: center;
        }
    }

    // .our-product__header

    &__header {
        row-gap: 50px;
        align-items: flex-start;

        @media (min-width: $mobile) {
            grid-row: span 2;
            max-width: 535px;
        }
        @media (max-width: $mobile) {
            row-gap: 16px;
        }

        // .section-header__text

        & .section-header__text {
            @media (max-width: $mobile) {
                &:not(:last-child) {
                    margin-bottom: 17px;
                }
            }
        }
        & .button {
            min-width: 170px;
            @media (max-width: $mobile) {
                width: 100%;
            }
        }
    }

    // .our-product__statistic

    &__statistic {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        // flex-wrap: wrap;
        gap: 50px;

        @media (max-width: 1100px) {
            gap: 20px;
        }
        @media (max-width: $tablet) {
            justify-content: space-around;
        }
        @media (max-width: $mobile) {
            padding-block-start: 10px;
            padding-block-end: 30px;
        }
    }

    // .our-product__data

    &__data {
        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
        @media (max-width: 377.98px) {
            text-align: center;
        }
    }

    // .our-product__data-number

    &__data-number {
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        font-size: clamp(22px, 3.05vw, 44px);
    }

    // .our-product__data-name

    &__data-name {
        @media (max-width: $tablet) {
            font-size: 14px;
        }
        @media (max-width: $mobile) {
            font-size: 13px;
        }
    }

    // .our-product__image-wrapper

    &__image-wrapper {
        width: 100%;
        overflow: hidden;
        @media (max-width: $mobile) {
            aspect-ratio: 327 / 200;
        }
    }

    // .our-product__image-wrapper-small

    &__image-wrapper-small {
    }

    // .our-product__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    // .our-product__image-wrapper-large

    &__image-wrapper-large {
        @media (min-width: $mobile) {
            grid-row: span 2;
        }
        @media (max-width: $mobile) {
            order: 1;
        }
    }
}
// testimonials
.testimonials {
    padding-block: 90px;
    @media (max-width: $mobile) {
        padding-block: 50px;
    }
    // .testimonials__container

    &__container {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    // .testimonials__header

    &__header {
        max-width: 656px;
        margin: 0 auto;
    }

    // .testimonials__swiper

    &__swiper.swiper {
        & .swiper-slide {
            @media (min-width: $tablet) {
                width: 545px;
            }
        }
    }
}

.testimonial-card {
    padding-inline: 24px;
    padding-block-start: 26px;
    padding-block-end: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    background-color: #ffffff;
    box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.1);
    @media (max-width: $mobile) {
        row-gap: 18px;
        padding-inline: 16px;
        padding-block-start: 18px;
        padding-block-end: 16px;
    }
    // .testimonial-card__icon

    &__icon {
        width: 40px;
        height: 40px;
        @media (max-width: $mobile) {
            width: 32px;
            height: 32px;
        }
    }

    // .testimonial-card__text

    &__text {
    }

    // .testimonial-card__author-info

    &__author-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 14px;
    }

    // .testimonial-card__avatar

    &__avatar {
        width: 50px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        @media (max-width: $mobile) {
            width: 28px;
        }
    }

    // .testimonial-card__author-name

    &__author-name {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        color: $titleColor;
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    // .testimonial-card__rate

    &__rate {
        margin-left: auto;
        display: flex;
        align-items: center;
        column-gap: 10px;
        line-height: 1.3;
        font-weight: 700;
        color: $titleColor;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            background: url("/src/images/icons/star.svg") center/100% no-repeat;
        }
    }
}

//articles
.articles {
    // .articles__container

    &__container {
        padding-block: 90px;
        @media (max-width: $mobile) {
            padding-block: 50px;
        }
    }
    //articles__wrapper
    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(300px, 47%) 1fr;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 50px;
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            grid-template-rows: auto;
            gap: 20px;
        }
    }

    // .articles__header

    &__header {
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .articles__slider-wrapper

    &__slider-wrapper {
        max-width: 100%;
        overflow: hidden;
    }

    // .articles__swiper

    &__swiper.swiper {
        width: 100%;
        max-height: 565px;
        aspect-ratio: 582 / 565;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & .swiper-wrapper {
        }
        & .swiper-slide {
            display: flex;
            height: auto;
        }
    }

    // .articles__swiper-buttons

    &__swiper-buttons {
        display: inline-flex;
        position: relative;
        z-index: 3;
        margin-top: -20px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__swiper-button-prev,
    &__swiper-button-next {
        width: 70px;
        height: 70px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            width: 28px;
            height: 28px;
        }
    }
    // .articles__swiper-button-prev

    &__swiper-button-prev {
        rotate: -180deg;
        background-color: #ffffff;
        &::before {
            background-color: $primaryColor;
            mask: url("/src/images/icons/icons/arrow-right-long.svg") center/100% no-repeat;
        }
    }

    // .articles__swiper-button-next

    &__swiper-button-next {
        background-color: $primaryColor;
        &::before {
            background-color: #ffffff;
            mask: url("/src/images/icons/icons/arrow-right-long.svg") center/100% no-repeat;
        }
    }

    // .articles__selected

    &__selected {
        grid-row: span 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        row-gap: 30px;
        @media (max-width: $tablet) {
            grid-row: auto;
        }
    }
}

//request

.request {
    // .request__container

    &__container {
        padding-block-start: 90px;
        padding-block-end: 88px;
        .request--services & {
            padding-block-start: 180px;
            padding-block-end: 86px;
        }
        @media (max-width: $mobile) {
            padding-block: 50px;
            .request--services & {
                padding-block-start: 50px;
                padding-block-end: 46px;
            }
        }
    }
    // .request__header

    &__header.section-header {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px 40px;

        // .section-header__title-block
        & .section-header__title-block {
            max-width: 775px;
        }
        .request--services & .section-header__title-block {
            max-width: 394px;
        }

        & .button {
            flex-shrink: 0;
            padding-inline: 28px;
            @media (max-width: $smallMobile) {
                width: 100%;
            }
        }
    }
}

//intro

.intro {
    // .intro__container

    &__container {
        padding-block-start: 100px;
        padding-block-end: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        .intro--services & {
            padding-block-end: 90px;
        }
        .intro--services &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $lineColor;
        }
        .intro--article & {
            padding-block-end: 40px;
        }

        @media (max-width: $mobile) {
            padding-block-start: 50px;
            padding-block-end: 30px;
            row-gap: 30px;
            .intro--services & {
                padding-block-end: 50px;
            }
            .intro--article & {
                padding-block-end: 0;
            }
        }
    }
    // .intro__services

    .intro--services &__services {
        order: 1;
    }

    // .intro__header

    &__header {
        max-width: 600px;
        .intro--services & {
            max-width: 505px;
        }
    }

    // .intro__banner

    &__banner {
        width: 100%;
        // display: grid;
        // grid-template-columns: 1fr minmax(auto, $maxWidthContainer) 1fr;
    }
}

.banner {
    .intro--products & {
        width: 100vw;
    }
    position: relative;

    // .banner__products-swiper
    & .swiper {
        position: static;
        .intro--article & {
            padding-block-end: 50px;
        }
        & .swiper-slide {
            display: flex;
            height: auto;
            & > * {
                width: 100%;
                .intro--products & {
                    min-height: 34.72vw; //500px
                }
                .intro--article & {
                    min-height: 38.194444vw; /* 550/1440 */
                }
            }
            @media (max-width: $smallMobile) {
                & > * {
                    .intro--products & {
                        min-height: 180px;
                    }
                    .intro--article & {
                        min-height: 200px;
                    }
                }
            }
        }
        & .swiper-pagination {
            position: absolute;
            display: flex;
            column-gap: 10px;
            justify-content: center;
            z-index: 3;
            left: 50%;
            transform: translateX(-50%);
            bottom: 22px;
            .intro--article & {
                bottom: 41.24%;
                transform: translate(-50%, 50%);
            }
            & .swiper-pagination-bullet {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ffffff;
                opacity: 0.4;
            }
            & .swiper-pagination-bullet.swiper-pagination-bullet-active {
                opacity: 1;
            }
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    // .banner__swiper-button-prev
    &__swiper-button-prev,
    &__swiper-button-next {
        position: absolute;
        top: 50%;
        z-index: 3;
        @extend %round-swiper-button;
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__swiper-button-prev {
        left: 40px;
    }

    // .banner__swiper-button-next
    &__swiper-button-next {
        right: 40px;
    }
    //banner__image
    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1240 / 550;
        object-fit: cover;
        @media (max-width: $mobile) {
            aspect-ratio: 327 / 200;
        }
    }
}

//tottal-product
.total-product {
    // .total-product__container

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        padding-block-end: 100px;
        @media (max-width: $tablet) {
            row-gap: 21.5px;
        }
    }

    // .total-product__aside

    &__aside {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 20px;
        position: relative;
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .total-product__search

    &__search {
        flex-grow: 1;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    // .total-product__filter-btn

    &__filter-btn {
        position: relative;
        z-index: 1;
        flex-basis: 190px;
        flex-shrink: 0;
        color: $titleColor;
        border-color: #ffffff;
        background: #ffffff;
        box-shadow: 0px 4px 120px 0px rgba(175, 173, 181, 0.15);
        &.button--icon {
            flex-direction: row-reverse;
            column-gap: 12px;
            &::after {
                content: "";
                width: 30px;
                height: 30px;
                background: url("../images/icons/icons/filter.svg") center/100% auto no-repeat;
            }
            @media (max-width: $tablet) {
                flex-basis: auto;
                & .button__text {
                    display: none;
                }
            }
            @media (max-width: $mobile) {
                width: 100%;
                padding-block: 5px;
            }
        }
    }
    //total-product__filter-body
    &__filter-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        transform: translateY(0);
        padding-inline: 0;
        padding-block: 0;
        opacity: 0;
        background-color: #ffffff;
        box-shadow: 0px 4px 120px 0px rgba(175, 173, 181, 0.15);
        transition:
            height 0.3s ease-out,
            opacity 0.4s ease-out,
            transform 0.4s ease-out;
        &.open {
            height: max-content;
            padding-inline: 15px;
            padding-block: 15px;
            opacity: 1;
            transform: translateY(calc(100% + 5px));
        }
    }

    // .total-product__header

    &__header {
        display: flex;
        column-gap: 40px;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $tablet) {
            column-gap: 20px;
        }
    }

    // .total-product__title

    &__title {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 44px;
        color: $titleColor;
        font-weight: 700;
        line-height: 1.3;
        @media (max-width: $tablet) {
            font-size: 24px;
        }
        @media (max-width: $mobile) {
            font-size: 18px;
        }
    }

    // .total-product__product-amount

    &__product-amount {
        border-radius: 20px;
        padding-inline: 16px;
        padding-block: 10px;
        background-color: #f3f3f3;
        color: $primaryColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;

        @media (max-width: $mobile) {
            font-size: 12px;
            line-height: 1.8;
            padding-inline: 10px;
            padding-block: 2px;
        }
    }

    // .total-product__sort-button
    &__sort-button {
        @extend .total-product__filter-btn;
        &.button.button--icon {
            align-self: flex-start;
            flex-basis: 139px;
            padding-inline: 18.5px;
            padding-block: 7.8px;
            border-color: #f9f9f9;
            border-width: 1.5px;
            line-height: 1.8;
            &::after {
                content: "";
                width: 24px;
                height: 24px;
                background: url("../images/icons/icons/sort.svg") center/100% auto no-repeat;
                transition: transform 0.3s ease-out;
            }
            &._ascending {
                &::after {
                    transform: rotateX(180deg);
                }
            }
            @media (max-width: $mobile) {
                flex-basis: auto;
            }
        }
    }
}

.portfolio {
    // .portfolio__container

    &__container {
        padding-block: 50px;
        @media (max-width: $mobile) {
            padding-block: 30px;
        }
    }

    // .portfolio__header

    &__header.section-header {
        flex-direction: row;
        gap: 16px 30px;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: 43px;
            }
        }

        // .section-header__title-block

        & .section-header__title-block {
            flex: 0 1 491px;
            @media (max-width: $tablet) {
                flex-grow: 1;
            }
        }

        // .section-header__colomn

        & .section-header__colomn {
            flex: 0 1 505px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            justify-content: flex-end;
            @media (max-width: $tablet) {
                flex-grow: 1;
            }
        }

        // .section-header__link

        & .section-header__link {
            color: $primaryColor;
            font-weight: 700;
            line-height: 1.3;
            text-transform: capitalize;
            transition: color 0.3s ease-out;
            @media (any-hover: hover) {
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }

    // .portfolio__collection

    &__collection {
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 40.725806% 56.854839%;
        grid-auto-rows: 301px;
        & .newscard:nth-child(4n-3) {
            grid-row: 2 span;
            @media (max-width: 600px) {
                grid-row: auto;
            }
        }
        & .newscard {
            // .newscard__image-wrapper

            & .newscard__image-wrapper {
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: linear-gradient(180deg, rgba(21, 20, 17, 0) 35.38%, #151411 137.5%);
                }
            }

            @media (max-width: $tablet) {
                padding: 20px;
            }
        }
        @media (max-width: $tablet) {
            gap: 20px;
        }
        @media (max-width: $mobile) {
            grid-auto-rows: 250px;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: $smallMobile) {
            grid-auto-rows: 409px;
        }
    }
}

.daily-news {
    // .daily-news__container

    &__container {
        padding-block: 90px;
        @media (max-width: $tablet) {
            padding-block: 50px;
        }
    }

    // .daily-news__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    // .daily-news__collection

    &__collection {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: auto;
        gap: 30px;
        & .article-card {
            // flex: 1 1 605px;
            // min-width: 280px;
        }
        @media (max-width: $tablet) {
            gap: 20px;
        }
    }
}
