@use "variables" as *;
.hero {
    // .hero__container

    &__container {
        padding-block-start: 100px;
        padding-block-end: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        @media (max-width: $tablet) {
            padding-block: 50px;
        }

        @media (max-width: $mobile) {
            row-gap: 30px;
        }
    }

    // .hero__header

    &__header {
        max-width: 796px;
        & .section-header__title-block {
            @media (min-width: $mobile) {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        & .section-header__title {
            max-width: 724px;
            position: relative;
            &::before {
                content: "";
                width: 250px;
                height: 250px;
                position: absolute;
                top: 100%;
                right: 100%;
                transform: translate(30px, -60px) rotate(-67.19deg);
                background: url("/src/images/icons/line-arrow-spiral-down.svg") center / 100% no-repeat;
            }

            & .section-header__title-decorated-part {
                text-wrap: nowrap;
                position: relative;
                &::after {
                    content: "";
                    width: 51px;
                    height: 51px;
                    transform: translateY(-50%);
                    background: url("/src/images/icons/stars-plus-wink.svg") center / 100% no-repeat;
                }
            }
            @media (max-width: $tablet) {
                max-width: 80vw; /* 300/375 */
                &::before {
                    top: 20%;
                    width: 84px;
                    height: 84px;
                    transform: translate(50%, 0) rotate(-67.19deg);
                }
                & .section-header__title-decorated-part::after {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        & .section-header__text {
            position: relative;
        }
    }
    //hero__search-form
    &__search-form {
        width: 65.32%; /* 810/1240 */
        position: relative;
        @media (max-width: $tablet) {
            width: 85%;
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    // .hero__image-wrapper

    &__image-wrapper {
        width: 100%;
        aspect-ratio: 1240 / 480;
        min-height: 160px;
        overflow: hidden;
        @media (min-width: $mobile) {
            margin-top: -92px;
        }
    }

    // .hero__image

    &__image {
        min-width: 100%;
        height: 100%;
        aspect-ratio: 1240 / 480;
    }
}

.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 80px 0px rgba(175, 173, 181, 0.2);
    padding-block: 15px;
    padding-inline-start: 26px;
    padding-inline-end: 15px;
    background-color: #ffffff;
    //search-form__label
    &__label {
        display: flex;
        align-items: center;
        flex-grow: 1;
        column-gap: 8px;
    }
    &__label-icon {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: $paragraphColor;
        mask: url("/src/images/icons/icons/search.svg") center/100% no-repeat;
        transition: background-color 0.3s ease-out;
        @media (max-width: $mobile) {
            width: 24px;
            height: 24px;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }

    // .search-form__input

    &__input {
        height: 54px;
        flex-grow: 1;
        padding-inline: 10px;
        &::-webkit-search-cancel-button {
            display: none;
        }
        @media (max-width: $mobile) {
            padding-inline: 4px;
            height: 38px;
        }
    }

    // .search-form__btn

    &__btn {
        @media (max-width: $mobile) {
            &.button {
                padding-block: 8px;
                padding-inline: 24px;
            }
        }
        @media (min-width: $tablet) {
            flex-basis: 170px;
        }
    }
    @media (max-width: $tablet) {
        padding-block: 8px;
        padding-inline-start: 14px;
        padding-inline-end: 8px;
    }
    @media (max-width: 374.98px) {
        flex-wrap: wrap;
        &__btn {
            flex-grow: 1;
        }
        &__label-icon {
            display: none;
        }
    }
}
