@use "variables" as *;
@use "common";
.product-details {
    // .product-details__container

    &__container {
        padding-block: 100px;
        & > *:not(:last-child) {
            margin-bottom: 50px;
        }
        @media (max-width: $tablet) {
            padding-block-start: 50px;
            padding-block-end: 83px;
        }
    }

    // .product-details__primary-info

    &__primary-info {
    }

    // .product-details__related-info

    &__related-info {
    }

    // .product-details__related-info-title

    &__related-info-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.32px;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @media (max-width: $mobile) {
            font-size: 18px;
            &:not(:last-child) {
                margin-bottom: 23px;
            }
        }
    }
}
.product-info {
    display: flex;
    gap: 50px;
    @media (max-width: $tablet) {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    // .product-info__image-wrapper

    &__image-wrapper {
        flex: 0 1 600px;
        min-width: 50%;
        aspect-ratio: 600 / 600;
        overflow: hidden;
        @media (max-width: $tablet) {
            max-width: 450px;
        }
        @media (max-width: $mobile) {
            max-width: 327px;
            aspect-ratio: 327 / 327;
        }
    }

    // .product-info__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 600 /600;
        object-fit: cover;
        object-position: 50% 50%;
    }

    // .product-info__body

    &__body {
        flex: 1 1 590px;
    }

    // .product-info__header

    &__header {
        margin-bottom: 30px;
        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
        @media (max-width: $tablet) {
            margin-bottom: 20px;
            & > *:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    // .product-info__title

    &__title {
        @extend .section-header__title;
    }

    // .product-info__fabric

    &__fabric {
    }

    // .product-info__product-purchaise

    &__product-purchaise {
    }
}
.product-purchaise {
    & > * {
        margin-bottom: 20px;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    @media (max-width: $tablet) {
        & > * {
            margin-bottom: 16px;
        }
    }
    // .product-purchaise__pallet

    &__pallet {
    }

    // .product-purchaise__pallet-title

    &__pallet-title {
        font-weight: 800;
        line-height: 1.3;
        color: $titleColor;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    // .product-purchaise__color-list

    &__color-list {
        display: flex;
        &:has(.product-purchaise__color:checked) {
            .product-purchaise__color-item:not(:has(> .product-purchaise__color:checked)) {
                opacity: 0.2;
            }
            .product-purchaise__color-item:has(> .product-purchaise__color:checked) {
                scale: 1.03;
            }
        }
    }

    // .product-purchaise__color-item

    &__color-item {
        width: 50px;
        height: 50px;
        position: relative;
        transition:
            scale 0.3s ease-out,
            opacity 0.3s ease-out;
        @media (max-width: $mobile) {
            width: 30px;
            height: 30px;
        }
    }

    // .product-purchaise__color

    &__color {
        width: 0;
        height: 0;
        font-size: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    // .product-purchaise__description

    &__description {
        margin-bottom: 30px;
        & > p {
            display: inline;
        }
        @media (max-width: $tablet) {
            margin-bottom: 16px;
        }
    }

    // .product-purchaise__description-more

    &__description-more {
        color: $primaryColor;
        text-wrap: nowrap;
        text-transform: capitalize;
    }
    // .product-purchaise__description-dots

    &__description-dots {
        &._show {
            display: none;
        }
    }

    // .product-purchaise__description-end

    &__description-end {
        opacity: 0;
        height: 0;
        font-size: 0;
        overflow: hidden;
        &._show {
            opacity: 1;
            height: max-content;
            font-size: inherit;
        }
    }

    // .product-purchaise__price

    &__price {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
        color: $titleColor;
        margin-bottom: 50px;
        @media (max-width: $tablet) {
            margin-bottom: 30px;
            font-size: 34px;
        }
        @media (max-width: $mobile) {
            font-size: 24px;
        }
    }

    // .product-purchaise__actions

    &__actions {
        display: flex;
        // flex-wrap: wrap;
        gap: 12px 20px;
        & .button {
            flex-basis: 50%;
            flex-grow: 1;
            min-width: max-content;
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }
}
