$maxWidth: 1440;
$minWidth: 375;
$containerWidth: 1240;
$paddingContainer: 24;
$maxWidthContainer: $containerWidth + $paddingContainer * 2;

// $laptop: 1199.98px;
// $tablet: 991.98px;
// $mobile: 767.98px;
// $smallMobile: 479.98px;

$titleColor: #151411;
$paragraphColor: #afadb5;
$secondaryColor: #ffb23f;
$primaryColor: #518581;
$primaryColorHover: #8baeab;
$lineColor: #f3f3f3;
