@use "sass:math";
@use "fonts";
@use "reset";
@use "variables" as *;
@use "mixins";
@use "common";
@use "header";
@use "main";
@use "footer";

html {
    scroll-behavior: smooth;
    --scroll-margin-top: 0;
}

body {
    font-family: "EudoxusSans", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
    color: $paragraphColor;
    @media (max-width: $mobile) {
        font-size: 14px;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
    padding-block-start: var(--scroll-margin-top);
}

[class$="__container"] {
    max-width: 1288px; //1240px
    padding-inline: 24px;
    margin: 0 auto;
    @media (max-width: 374.98px) {
        padding-inline: 15px;
    }
}
